@import './Variables';


.main__nav {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    min-width: 90vw;




    &--item {
        position: fixed;
        width: 50%;
        display: flex;
        padding: 4% 0;
        font-size: 1.6rem;
        align-self: flex-start;
        background-color: $main-bg-color;
        z-index: 1;




        &:nth-child(2) {
            justify-content: flex-end;
            align-self: flex-start;
            right: 5%;

            a {
                min-height: 35px;
            }
        }

        &:nth-child(3) {
            align-items: flex-end;
            justify-content: flex-start;
            align-self: flex-end;
        }



        &:nth-child(4) {
            justify-content: flex-end;
            align-self: flex-end;
            right: 5%;
        }

        a {
            color: $main-color;
            text-decoration: none;
            cursor: none;
            font-weight: bold;
            padding: 10px;


        }

    }

    &--logo {
        width: 40px;
    }
}

.btn_hidden {
    display: none;
}


@media screen and (min-width: 600px) {

    .main__nav {



        &--item {
            padding: 3% 0;

            @media screen and (min-width:770px) {
                font-size: 2.3rem;
            }

            @media screen and (min-width: 959px) {
                padding: 2% 0;
            }

        }



    }
}